<h1>Carrito de Compras</h1>
<ul>
    {{#each cart.products}}
        <li>
            {{this.product.title}} - Cantidad: {{this.quantity}}
            <form action="/api/carts/{{../cart._id}}/products/{{this.product._id}}" method="post">
                <input type="number" name="quantity" value="{{this.quantity}}" min="1">
                <button type="submit">Actualizar cantidad</button>
            </form>
            <form action="/api/carts/{{../cart._id}}/products/{{this.product._id}}?_method=DELETE" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </li>
    {{/each}}
</ul>